.vscode/**
.vscode-test/**
src/**
out/**
webpack.config.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!assets/shader-studio-script.d.ts
**/.vscode-test.*
scripts
../**
