.vscode/**
.vscode-test/**
src/**
out/**
e2e/**
.playwright/**
electron-app/**
.turbo/**
esbuild.js
webpack.config.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.test.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/test/**
**/tests/**
**/*.test.*
**/*.spec.*
!assets/shader-studio-script.d.ts
**/.vscode-test.*
scripts
../**
