.vscode/**
.vscode-test/**
src/**
vendor/**/test/**
vendor/**/tests/**
vendor/**/.github/**
vendor/**/.*
vendor/**/README.md
vendor/**/readme.md
vendor/**/LICENSE*
vendor/**/CHANGELOG*
vendor/**/package-lock.json
out/**
webpack.config.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
scripts
../**
